$primary-font: "Ubuntu",
sans-serif;
$gridRowSize: 120px;
$boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
$boxColor: rgb(245, 245, 245);


body {
    font-family: $primary-font;
    padding: 0;
    margin: 0;
}

#body {
    background: linear-gradient(270deg, #4beec4, #ffa684, #d3a6ff);
    background-size: 600% 600%;

    -webkit-animation: gradient-animation 29s ease infinite;
    -moz-animation: gradient-animation 29s ease infinite;
    animation: gradient-animation 29s ease infinite;
}

@-webkit-keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


h1 {
    padding: 20px 10px;
    display: block;
    font-size: 2.6em;
    font-weight: 500;
    color: rgb(233, 233, 233);
    text-align: center;
    text-shadow: rgba(31, 31, 31, 0.534) 0 0 5px;
    ;
}

.labPageContainer {
    width: 100vw;
    height: max-content;
}

.projectGrid {
    display: grid;
    width: calc(100% - 40px);
    height: max-content;
    margin: 10px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize $gridRowSize;
    row-gap: 20px;
    column-gap: 20px;

    .projectBox {
        padding: 10px;
        display: grid;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        border-radius: 10px;
        box-shadow: $boxShadow;
        background-color: $boxColor;
        min-width: 420px;

        .projectImg {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            padding-top: 40px;

            img {
                margin: 20px;
                width: 70%;
                max-width: 300px;
                height: auto;
                border-radius: 10px;
            }
        }

        .projectDescription {
            grid-row-start: 1;
            grid-row-end: 4;
            grid-column-start: 3;
            grid-column-end: 5;

            h2 {
                text-align: center;
            }

            .link-container {
                display: flex;
                height: max-content;
                width: 100%;
                justify-content: space-around;
                align-items: center;
            }

            a {
                text-align: center;
                display: block;
                padding: 10px;
                color: rgb(31, 31, 31);
            }
        }

        .projectTools {
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 20px;

            h4 {
                margin: 0;
                margin-bottom: 10px;
                text-align: center;
                text-decoration: underline;
            }

            .toolsList {
                width: 100%;
                margin-top: 30px;

                display: flex;
                justify-content: space-around;
                align-items: center;

                img {
                    width: 60px;
                    height: 60px;
                }

            }
        }
    }

    .box1 {

        grid-row-start: 1;
        grid-row-end: 5;

    }

    .box2 {

        grid-row-start: 6;
        grid-row-end: 10;

    }

    .box3 {
        margin-bottom: 50px;
        grid-row-start: 11;
        grid-row-end: 15;

    }
}

@media (max-width : 667px) {

    .projectBox {

        .box1,
        .box3,
        .box2 {
            grid-column-start: 1;
        }

    }
}

@media (max-width: 850px) {
    .projectBox {
        height: max-content;
    }

    .projectImg {
        display: none !important;
    }

    .projectDescription {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;

    }

    .projectTools {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
}